body {
  width: 100%;
  text-align: center;
  background-color: black;
  background-image:url('../images/matrix.gif');
}

#race-track {
  border: none;
  display: inline;
  position: absolute;
  top: 3%;
}

.hidden {
  display: none;
}

#snippet-continer {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 80px;
  font-family: 'Ubuntu Mono', monospace;
  color: #06f106;
  text-shadow: 1px 1px 0px white;
}

#snippet {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.3em;
  font-size: 14px;
  position: absolute;
  top: 20%;
  font-size: 18px;
}

#snippet span {
  color: #06f106;
}

#snippet div {
  color: #06f106;
  display: block;
}

.highlight {
  background-color: white;
  color: black !important;
  margin: 1px;
}

.badlight {
  background-color: #e63d3d;
  color: white;
  margin: 1px;
}

.terminal-container {
  width: 1280px;
  height: 640px;
  display: inline-flex;
  position: relative;
  justify-content: center;
}

#start {
  color: #06f106;
  background-color: black;
  border-radius: 5px;
  border-color: #06f106;
  border-style: solid;
  font-size: 100px;
  margin-top: 40px;
  border: 8px solid;
  position: absolute;
  left: 30%;
}

#start:hover {
  cursor: pointer;
}

.countdown {
  font-size: 400px;
  margin-top: 150px;
  color: #06f106;
}

.intro {
  color: white;
  text-align: center;
}

#restart {
  color: #06f106;
  background-color: black;
  border-radius: 5px;
  border-color: #06f106;
  border-style: solid;
  font-size: 100px;
  margin-top: 40px;
  border: 8px solid;
  /*display: block;*/
  /*left: 30%;*/
}

#restart:hover {
  cursor: pointer;
}
